*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.App {
  text-align: center;
  color: #ddd;
}

a {
  color: #ddd;
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
